@tailwind base;
@tailwind components;
@tailwind utilities;

.sc__wrapper {
  display: block;
  width: 100%;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.sc__container {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.sc__container > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.sc__container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* styles/ScratchCard.module.css */

/*  */

.scratch-box {
  width: auto;
  height: 200px;
  /* border: 2px solid #000; */
  overflow: hidden;
  /* background: url(/landing/banenr.jpg); */
  background: #b52828;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  /* transition: 0.8s ease; */
}

.scratch-box > img {
  /* border: 2px solid black; */
  transition: 1s ease;
}

.scratch-box > img.active {
  /* border: 5px solid blue; */
  transform: translateY(-100%);
}

.scratched {
  background: #b52828;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  transition: 0.8s ease-in-out;
  /* border: 2px dashed #000; */
}

.scratched > h1 {
  color: #fff;
  font-weight: 800;
}
